@charset "UTF-8";
/*Tabela de cores:
d38823
#0D0D0D
#F2F2F2
#BF861B
*/
/*header#logo {
   
}*/
*{
    margin: 0px;
    height: 0px;
    width: 0px;
    padding: 0px;
}
header>div#foto{
    background-color: rgb(0, 0, 0);
    width: 92.3vw;
    height: 100px;
    translate: 7.5%;
 
}
header#logo{
    padding-left: 10px;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    background: url(./imagens/logo1.png);
    background-size: cover;
    background-position: center center;
}
header h1 {
    text-align: center;
    color: #d38823 ;
    margin-left: 500px;
    padding-top: 25px;
   
}
body {
    background-color: #8B9094;
    
}
div#ima {
   background: url(./imagens/foto1.jpg);
   width: 300px;
   height: 300px;
   background-size: cover;
   border-radius: 10px;
   margin: 10px;
}   
/*div#ima2 {
    background: url(./imagens/foto3.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 10px;
    margin: 10px;
    transform: translate(110%, -100%);
 }   
 div#ima3 {
    background: url(./imagens/foto2.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 10px;
    margin: 10px;
    translate: 60%;
 }   */
main>article#tex{
    background-color: lightgrey;
    margin: auto;
    width: 80vw;
    padding: 20px;
    text-align: center;
    
}
