@charset "UTF-8";
 
@media screen and (min-width:768px) {
    

*{
    margin: 0px;
    padding: 0px;
}
body {
   background-color: darkslategray;
}

section.login {
   
    width: 300px;
} 
section#imagem {
    background: url(../ex025/imagens/pexels-pixabay-161154\ \(1\).jpg);
    width: 700px;
    height: 500px;
    display: block;
    margin: auto;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 


div#formulario {
    width: 300px;
    height: 200px;
    background-color: rgba(47, 79, 79, 0.582);
    color: white;
    display: block;
    position:absolute;
    margin: auto;
    transform: translate(55%, 55%);
    padding: 20px;
    border-radius: 20px;
}
}