@charset "UTF-8";
@media screen and (min-width:600px) and (max-width: 768px) {
    div.quadrado {
        border: 1px solid black;
        width: 420px;
        height: 500px;
        display: inline-block;
        border-radius: 10px;
        background-color: rgb(211, 211, 211);
        background-size: cover;
        
    }
    div#q3{
        background-image: url(./imagens/foto5.jpg);
        margin: 10px;
     }
     body {
        background-color: black;
     }
}
@media screen and (min-width: 992px) {
}