@charset "UTF-8";
@media screen and (max-width: 768px) {
    header h1 {
        text-align: center;
        color: #d38823 ;
        padding-top: 29px;
        font-family: 'barber', times ,serif;
        font-size: 2.2em;
       
    }
    header>div#foto{
        width: 76vw;
        translate: 24.5%;
    }
    header#logo{

    }
    div#q1{
        margin-left: 30px;
        text-align: center;
     }
     div#q2{
      display: none;
     }
     div#q3{
      display: none;
     }
     main>article#tex {
        background-color: rgb(211, 211, 211);
        margin: auto;
        width: 60vw;
        margin-top: 10px;
        text-align: center;
        font-size: 1.5em;
        margin-left: 100px;
        border-radius: 10px;
        padding: 10px;
        border: 1px solid black;
    }
    div#fundo{
        margin-left: 150px;
    }
    div#fundo2{
        width: 96.4vw;
    }
}
@media screen and (min-width: 992px) {
    body {
        background-color: black;
    }
}