@charset "UTF-8";
/*Tabela de cores:
d38823
#0D0D0D
#F2F2F2
#BF861B
*/
/*header#logo {
   
}*/
*{
    margin: 0px;
    
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: 'barber';
    src: url('Albertson.otf') format('opentype'), url('Albertson.ttf') format('truetype');
}
header>div#logo{
    padding-left: 10px;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    background: url(../imagens/logo1.png);
    background-size: cover;
    background-position: center center;
}
header#tras{
    background-color: rgb(0, 0, 0);
    width: 99vw;
    height: 100px;
    
}
header h1 {
    text-align: center;
    color: #d38823 ;
    padding-top: 21px;
    font-family: 'barber', times ,serif;
    font-size: 3em;
    margin-left: 600px;
   
}
body {
    background-image: url(../imagens/foto4.jpg);
    background-size: contain;
    
}
div.quadrado {
    border: 1px solid black;
    width: 31vw;
    height: 500px;
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(211, 211, 211);
    background-size: cover;
    margin: 10px;
}

div#q1{
   background-image: url(../imagens/foto1.jpg);
   margin: 10px;
}
div#q2{
    
   background-image: url(../imagens/foto2.jpg);
   margin: 10px;
   text-align: center;
}

div#q4{
   background-image: url(../imagens/foto5.jpg);
   margin: 10px;
}
   
main>article#texto {
    background-color: rgba(211, 211, 211, 0.527);
    margin-left: 100px;
    width: 70vw;
    margin-top: 10px;
    text-align: center;
    font-size: 1.5em;
    margin-left: 200px;
    border-radius: 10px;
    padding-top: 10x;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border: 1px solid black;
}
div#ifra{
    width: 60vw;
    height: 300px;
    border-radius: 10px;
    transform: translate(33%, 1%);
    background-color: white;
    margin: 10px;
}
div#ifra>h2{
    text-align: center;
    padding: 5px;
}
div#ifra>p{
    text-align: center;
    margin: 10px;
    font-weight: bolder;
    font-size: 1.2em;
}
iframe {
    width: 60vw;
    height: 500px;
    border-radius: 10px;
   
   
}

footer{
    background-color: black;
} 
div#fundo{
    background: url(../imagens/logo1.png);
    height: 150px;
    width: 200px;
    background-position: center center;
    background-size: cover;
    margin-left: 600px;
    
}
div#fundo2{
    background-color: black;
    height: 150px;
    width: 99vw;
    background-position: center center;
    background-size: cover;
   
}
div#whats{
    height: 30px;
    width: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
}
div#whats:hover{
   transform: translate(-3px, -3px);
}
div#whats>a>img{
    height: 50px;
    width: 50px;
}
#insta{
    border: 2px, solid, black;
    border-radius: 10px;
    background-color:#69adeca4;
    text-decoration: none;
    color: black;
    padding-right: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.568);
}
#insta:hover{
    background-color: #3692e9;
}
#insta>img{
    height: 35px;
    width: 35px;
    transform: translate(-10%, 25%);
}
h3{
    padding: 15px;
    padding-bottom: 10px;
}