@charset "UTF-8";
/*Tabela de cores:
d38823
#0D0D0D
#F2F2F2
#BF861B
*/
/*header#logo {
   
}*/
*{
    margin: 0px;
    
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: 'barber';
    src: url('Albertson.otf') format('opentype'), url('Albertson.ttf') format('truetype');
}
header>div#logo{
    padding-left: 10px;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    background: url(../imagens/logo1.png);
    background-size: cover;
    background-position: center center;
}
header#tras{
    background-color: rgb(0, 0, 0);
    width: 98.7vw;
    height: 100px;
    
}

/*header>div#foto{
    background-color: rgb(0, 0, 0);
    width: 91.2vw;
    height: 100px;
    translate: 7.5%;
 
}
header#logo{
    padding-left: 10px;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    background: url(../imagens/logo1.png);
    background-size: cover;
    background-position: center center;
}*/
header h1 {
    text-align: center;
    color: #d38823 ;
    padding-top: 21px;
    font-family: 'barber', times ,serif;
    font-size: 3em;
    margin-left: 600px;
   
}
body {
    background-image: url(../imagens/foto4.jpg);
    background-size: contain;
    
}
div.quadrado {
    border: 1px solid black;
    width: 420px;
    height: 500px;
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(211, 211, 211);
    background-size: cover;
    
}
div#q1{
   background-image: url(../imagens/foto1.jpg);
   margin: 10px;
}
div#q2{
   background-image: url(../imagens/foto2.jpg);
   margin: 10px;
}
div#q3{
   background-image: url(../imagens/foto5.jpg);
   margin: 10px;
}
   
main>article#tex {
    background-color: rgba(211, 211, 211, 0.527);
    margin: auto;
    width: 70vw;
    margin-top: 10px;
    text-align: center;
    font-size: 1.5em;
    margin-left: 200px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
}
div#ifra{
    width: 60vw;
    height: 650px;
    border-radius: 10px;
    transform: translate(33%, 1%);
    background-color: white;
    margin: 10px;
}
div#ifra>h2{
    text-align: center;
    padding: 5px;
}
div#ifra>p{
    text-align: center;
    margin: 10px;
    font-weight: bolder;
    font-size: 1.2em;
}
iframe {
    width: 60vw;
    height: 500px;
    border-radius: 10px;
   
   
}

footer{
    background-color: black;
} 
div#fundo{
    background: url(../imagens/logo1.png);
    height: 150px;
    width: 200px;
    background-position: center center;
    background-size: cover;
    margin-left: 600px;
    
}
div#fundo2{
    background-color: black;
    height: 150px;
    width: 98.7vw;
    background-position: center center;
    background-size: cover;
   
}