@charset "UTF-8";

/*Configugação para aparelho em pé (portrait)*/
body {
    background: url(../imagens/cev-portrait.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}