@charset "UTF-8";
*{
    margin: 0px;
    
    padding: 0px;
    
}
body{
    background-image: url(imagens/wallpaper001.jpg);
}
div.quadrado {
    border: 1px solid black;
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    background-color: lightgray;
}
div#q1{
   background-image: url(./imagens/foto1.jpg);
}
div#q2{
   background-image: url(./imagens/foto2.jpg);
}
div#q3{
   background-image: url(./imagens/foto3.jpg);
}